<div class="row">
  <form class="col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <input name="name" placeholder="Name" ng-model="statesVM.state.name" required="required" class="form-control input-lg input-name" />
    </div>
    <button ng-if="!statesVM.state.id" ng-click="statesVM.create()" type="submit" class="btn btn-success pull-right">Create State</button>
    <div ng-if="statesVM.state.id" class="pull-right">
      <button ng-click="statesVM.cancel()" type="submit" class="btn btn-info">Cancel</button>
      <button ng-click="statesVM.update()" type="submit" class="btn btn-warning">Update State</button>
      <button ng-click="statesVM.remove()" type="submit" class="btn btn-danger">Delete State</button>
    </div>
  </form>
  <div class="col-xs-8 col-xs-offset-2 states-list">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="state in statesVM.states | orderBy:'name'">
        <a ng-click="statesVM.edit(state)">{{state.name}}</a>
      </li>
    </ul>
  </div>
</div>
