
span#user_id {
  display: none;
}

#signup-page {
  > .container {
    max-width: 400px;
    border-radius: 4px;
    h1 {
      color: #212121;
    }
  }
}

#login-form #new-account label {
  width: auto; /* flatten the New here? label */
  margin-top: 5px; /* separate from the Login button */
  margin-right: 10px; /* separate "New here?" label and "Sing Up" link */
}

#dropdown-authn-session {
  @media (max-width: 767px) {
    padding: 0px 15px;
    > li {
      background-color: #ffffff;
      border-radius: 4px;
    }
  }
}

#login-dropdown, #gotomenu-dropdown {
  > button {
    margin: 10px 0;
    padding: 10px 15px;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    @media (max-width: 1199px) {
      padding: 5px 15px;
    }
  }
}

#login-form {
  #login-email, #login-password, #new-account {
    > label, > input {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      margin-top: 10px;
    }
  }
}

div#logout-identity {
  text-align: center; /* keep organized as name in label gets long */
}
