
form.thing-form .id,
div.thing-list .id,
form.image-form .id,
div.image-list .id {
  display: none;
}

sd-image-editor form,
sd-thing-editor form {
  padding-left: 15px;
  padding-right: 15px;
}

sd-image-editor, sd-thing-editor {
  .well {
    max-width: 800px;
    border-radius: 4px;
    margin: 0 auto;
  }
}

sd-image-editor {
  .image-things {
    .list-group {
      > .list-group-item {
        cursor: pointer;
        .list-group-item-heading {
          font-weight: 400;
          &:hover, &:focus {
            color: #009688;
          }
        }
      }
    }
  }
  .image-controls {
    text-align: right;
  }
}

sd-thing-editor {
  .thing-controls {
    text-align: right;
  }
}

.images-area, .things-area {
  > .btn-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
}

.image-list, .thing-list {
  .item-column {
    cursor: pointer;
    img {
      width: 100%;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    .well {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .image-badge {
        position: absolute;
        top: 3px;
        right: 19px;
      }
    }
  }
}

.thing-list {
  .jumbotron {
    &.not-found-message {
      p {
        margin-bottom: 0px;
      }
    }
  }
}

.thing-images {
  .list-group {
    > .list-group-item {
      .list-group-item-heading {
        cursor: pointer;
        font-weight: 400;
        &:hover, &:focus {
          color: #009688;
        }
        span {
          position: absolute;
          top: 22px;
        }
        .form-group {
          margin-top: 0px;
        }
      }
    }
  }
}

.thing-form {
  tags-input[disabled] {
    .tags {
      .tag-item {
        .remove-button {
          display: none;
        }
      }
    }
  }
}

.thing-form {
  tags-input[disabled] {
    .tags {
      cursor: not-allowed;
    }
  }
}

.thing-form {
  tags-input, tags-input[disabled] {
    .tags {
      box-shadow: none;
      -webkit-appearance: none;
      border: none;
      border-bottom: 1px solid #d2d2d2;
      outline: 0;
      .tag-item {
        border: 1px solid #009688;
        border-radius: 4px;
        background: none;
        background-color: #009688;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        color: rgba(255, 255, 255, 0.84);
        .remove-button {
          color: rgba(255, 255, 255, 0.84);
        }
      }
    }
  }
}
