<div class="image-list" ng-show="$ctrl.authz.canQuery">
  <div class="row">
    <div ng-repeat="item in $ctrl.items | orderBy:'caption'">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col-sm-4 item-column" ui-sref="showImage({id:item.id})">
        <img src="<%= image_path('placeholder.png') %>" class="img-responsive" alt="image" />
        <div class="well text-center">
          <span class="image_id id">{{item.id}}</span>
          {{item.caption}}
          <span class="image-badge" ng-show="$ctrl.authz.canUpdateItem(item)"><i class="material-icons">grade</i></span>
        </div>
      </div>
    </div>
  </div>
</div>
