<div class="page-header">
  <h1>{{$ctrl.editorTitle}}<small ng-if="$ctrl.item.name"> {{$ctrl.item.name}}</small></h1>
</div>
<div class="well">
  <form class="thing-form form-horizontal" name="thingform">
    <span class="thing_id id">{{$ctrl.item.id}}</span>
    <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>
    <div class="thing-name form-group">
      <label for="thing-name" class="col-xs-3 control-label">Name:</label>
      <div class="col-xs-9">
        <input class="form-control" id="thing-name" name="thing-name" data-ng-model="$ctrl.item.name" ng-disabled="!$ctrl.authz.canUpdate" required="required" maxlength="40" pattern=".{3,}" title="3 character minimum for Name" />
      </div>
      <span class="invalid">{{$ctrl.item.errors.name}}</span>
    </div>
    <div class="thing-desc form-group" ng-show="thingform.$valid">
      <label for="thing-description" class="col-xs-3 control-label">Description:</label>
      <div class="col-xs-9">
        <textarea class="form-control" id="thing-description" name="thing-desc" rows="6" ng-model="$ctrl.item.description" ng-disabled="!$ctrl.authz.canUpdate" type="text" size="80" maxlength="4000" />
      </div>
      <span class="invalid">{{$ctrl.item.errors.description}}</span>
    </div>
    <div class="thing-tags form-group" ng-show="thingform.$valid && $ctrl.authz.canSeeTags">
      <label for="thing-tags" class="col-xs-3 control-label">Tags</label>
      <div class="col-xs-9">
        <tags-input ng-model="$ctrl.tags" key-property="name" display-property="name" replace-spaces-with-dashes="false" ng-disabled="!$ctrl.authz.canAssignTags"></tags-input>
      </div>
    </div>
    <div class="thing-notes form-group" ng-show="$ctrl.authz.canGetDetails && thingform.$valid">
      <label for="thing-notes" class="col-xs-3 control-label">Notes:</label>
      <div class="col-xs-9">
        <textarea class="form-control" id="thing-notes" name="thing-notes" rows="6" ng-model="$ctrl.item.notes" ng-disabled="!$ctrl.authz.canUpdate" type="text" size="80" maxlength="4000"/>
      </div>
      <span class="invalid">{{$ctrl.item.errors.notes}}</span>
    </div>
    <div class="thing-images form-group">
      <label class="col-xs-3 control-label">Related Images:</label>
      <div class="col-xs-9">
        <div class="list-group">
          <div class="list-group-item" ng-repeat="ti in $ctrl.images | orderBy:'priority'">
            <div class="row-action-primary checkbox" ng-if="$ctrl.authz.canRemoveImage">
              <span class="checkbox">
                <label>
                  <input type="checkbox" name="image-delete" ng-model="ti.toRemove" value="{{ti.id}}">
                </label>
              </span>
            </div>
            <div class="row-picture" ng-if="ti.image_content_url">
              <img class="circle" ng-src="{{ti.image_content_url}}?width=50" alt="icon">
            </div>
            <div class="row-content">
              <span class="id image_id">{{ti.image_id}}</span>
              <div class="row-content-heading">
                <h4 ng-show="ti.image_caption" ui-sref="showImage({id:ti.image_id})" class="list-group-item-heading">
                  {{ti.image_caption}}
                  <span ng-if="ti.toRemove">
                    <i class="material-icons">delete</i>
                  </span>
                  <span ng-if="!(ti.originalPriority == ti.priority || ti.toRemove)">
                    <i class="material-icons">new_releases</i>
                  </span>
                </h4>
                <h4 ng-hide="ti.image_caption" ui-sref="showImage({id:ti.image_id})" class="list-group-item-heading">
                  (no caption {{ti.image_id}})
                  <span ng-if="ti.toRemove">
                    <i class="material-icons">delete</i>
                  </span>
                  <span ng-if="!(ti.originalPriority == ti.priority || ti.toRemove)">
                    <i class="material-icons">new_releases</i>
                  </span>
                </h4>
              </div>
              <div class="form-group" ng-if="$ctrl.authz.canUpdateImage && !ti.toRemove">
                <label class="col-xs-3 control-label">Priority</label>
                <div class="col-xs-9">
                  <input type="number" class="form-control" name="image-priority" min="0" max="9" ng-model="ti.priority">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="invalid">{{$ctrl.item.errors.images}}</span>
    </div>

    <div class="thing-controls" ng-show="$ctrl.authz.authenticated">
      <button class="btn btn-raised btn-primary"
              ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
              name="thing-create"
              ng-disabled="thingform.$invalid"
              type="submit" ng-click="$ctrl.create()">Create Thing</button>
      <div ng-show="$ctrl.item.id">
        <span class="thing-modify" data-ng-hide="!$ctrl.authz.canUpdate && !$ctrl.authz.canUpdateImage && !$ctrl.authz.canRemoveImage">
          <button class="btn btn-raised btn-info"
                  name="thing-update"
                  type="submit"
                  ng-disabled="thingform.$invalid || !thingform.$dirty"
                  ng-hide="$ctrl.haveDirtyLinks() && (!thingform['thing-name'].$dirty && !thingform['thing-desc'].$dirty && !thingform['thing-notes'].$dirty)"
                  ng-click="$ctrl.update()">Update Thing</button>
          <button class="btn btn-raised btn-warning"
                  name="thing-images-update"
                  type="submit"
                  ng-show="$ctrl.haveDirtyLinks() && (!thingform['thing-name'].$dirty && !thingform['thing-desc'].$dirty && !thingform['thing-notes'].$dirty)"
                  ng-click="$ctrl.updateImageLinks()">Update Image Links</button>
        </span>
        <button name="thing-delete"
                type="submit"
                class="btn btn-raised btn-danger"
                ng-show="$ctrl.authz.canDelete"
                ng-click="$ctrl.remove()">Delete Thing</button>
      </div>
    </div>
  </form>
</div>
