<div class="thing-list" ng-show="$ctrl.authz.canQuery">
  <div class="row">
    <div ng-repeat="item in $ctrl.items | orderBy:'name'">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col-sm-4 item-column" ui-sref="showThing({id:item.id})">
        <img src="<%= image_path('placeholder.png') %>" class="img-responsive" alt="image" />
        <div class="well text-center">
          <span class="thing_id id">{{item.id}}</span>
          {{item.name}}
          <span class="image-badge" ng-show="$ctrl.authz.canUpdateItem(item)"><i class="material-icons">grade</i></span>
        </div>
      </div>
    </div>
    <div class="jumbotron not-found-message" ng-if="!$ctrl.items.length">
      <p class="text-center">No results were found for tag's name: <strong>{{$ctrl.thingsAuthz.searchTagName}}</strong></p>
    </div>
  </div>
</div>
