<!DOCTYPE html>
<html lang="en" ng-app="spa-photoTourist">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,500,700", media: 'all' %>
    <%= stylesheet_link_tag "spa", media: :all %>
    <%= javascript_include_tag "spa" %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
